<html>
  <head>
    <title>Vegan Count</title>
    <meta name='description' content='Vegan Census Count'>
    <meta property='og:title' content='Vegan Count'>
    <meta property='og:description' content='Vegan Census Count'>
    <meta property='og:url' content='http://vegancount.com'>
    <meta property='og:type' content='website'>

    <link type='text/css' rel='stylesheet' href='/assets/style.css'>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Varela+Round' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav>
      <div class='title'>Vegan Count</div>
      <div id='nav'>
        <div class='nav'>What is this?</div>
        <div class='nav'>Stats</div>
        <div class='nav'>Map</div>
      </div>
    </nav>
    {{ yield }}
  </body>
</html>